<dialog open>
  <article>
    <header>
      <a href="/sign-in" aria-label="Close" class="close"></a>
      <p>
        <strong> Usuario Creado </strong>
      </p>
    </header>
    <p>
      <strong>Usuario creado correctamente </strong>
    </p>
  </article>
</dialog>