<dialog open>
  <article>
    <header>
      <a href="/sign-in" aria-label="Close" class="close"></a>
      <p>
        <strong> ⭐ User created ⭐ </strong>
      </p>
    </header>
    <p>
      <strong>User was created correctly ✔️ </strong>
    </p>
  </article>
</dialog>