<dialog open>
  <article>
    <header>
      <a href="/sign-in" aria-label="Close" class="close"></a>
      <p>
        <strong> Las credenciales son incorrectas </strong>
      </p>
    </header>
    <p>
      <strong>Usuario o contraseña incorrectos, inténtelo nuevamente</strong>
    </p>
  </article>
</dialog>