<dialog open>
  <article>
    <header>
      <a href="/sign-in" aria-label="Close" class="close"></a>
      <p>
        <strong>❌ Credentials are incorrect ❌</strong>
      </p>
    </header>
    <p>
      <strong>⚠️ Incorrect user or password, try again ⚠️</strong>
    </p>
  </article>
</dialog>