<div class="container">
  <article style="margin-top: 5rem;">
    <h2 style="text-align: center;">Iniciar Sesion</h2>
    <form action="/auth/sign-in" method="post">
      <label for="email">
        E-mail:
        <input type="email" name="email" id="email" required />
      </label>
      <label for="password">
        Password:
        <input type="password" name="password" id="password" required />
      </label>
      <button type="submit">Crear usuario</button>
      <a href="/sign-up" style="display: flex; justify-content: center;">Iniciar
        sesión</a>
    </form>
  </article>
</div>