<div class="container">
  <article style="margin-top: 5rem;">
    <h2 style="text-align: center;">Sign up</h2>
    <form action="/auth/sign-up" method="post">
      <label for="firstName">
        First Name:
        <input type="text" name="firstName" id="firstName" required />
      </label>
      <label for="lastName">Last Name:
        <input type="text" name="lastName" id="lastName" required />
      </label>
      <label for="email">
        E-mail:
        <input type="email" name="email" id="email" required />
      </label>
      <label for="password">
        Password:
        <input type="password" name="password" id="password" required />
      </label>
      <label for="age">
        Age:
        <input type="number" name="age" id="age" required />
      </label>
      <button type="submit">Sign up</button>
      <a href="/sign-in" style="display: flex; justify-content: center;">Sign in</a>
    </form>
  </article>
</div>