<div class="container">
  <h2>Sign in</h2>
  <article>
    <form action="/auth/sign-in" method="post">
      <label for="email">
        E-mail:
        <input type="email" name="email" id="email" required />
      </label>
      <label for="password">
        Password:
        <input type="password" name="password" id="password" required />
      </label>
      <button type="submit">Sign in</button>
    </form>
  </article>
</div>